Repository selenide/selenide, pull requests merged in 2022-09, with the labels that each got.

#1943 #1942 don't remove shutdown hook at the moment when system shutdown is in progress
  src/main/java/com/codeborne/selenide/drivercommands/DisposablesRegistry.java
  src/test/java/com/codeborne/selenide/drivercommands/DisposablesRegistryTest.java
  statics/src/main/java/com/codeborne/selenide/impl/StaticConfig.java
Labels: low priority, bug 🐛

#1936 Add remote read timeout as configurable parameter
  src/main/java/com/codeborne/selenide/Config.java
  src/main/java/com/codeborne/selenide/SelenideConfig.java
  src/main/java/com/codeborne/selenide/webdriver/HttpClientTimeouts.java
  src/main/java/com/codeborne/selenide/webdriver/RemoteDriverFactory.java
  src/main/java/com/codeborne/selenide/webdriver/SelenideNettyClientFactory.java
  statics/src/main/java/com/codeborne/selenide/Configuration.java
  statics/src/main/java/com/codeborne/selenide/impl/StaticConfig.java
Labels: feature, not sure

#1961 Add method page() without Class argument
  src/main/java/com/codeborne/selenide/SelenideDriver.java
  src/main/java/com/codeborne/selenide/impl/JSElementFinder.java
  statics/src/main/java/com/codeborne/selenide/Selenide.java
  statics/src/test/java/integration/pageobjects/PageObjectTest.java
Labels: feature, page objects

#1963 optimize dependencies
  gradle/dependencies.gradle
  modules/core/build.gradle
  modules/grid/build.gradle
Labels: dependencies

#1964 #1850 don't include Mockito & AssertJ in all modules
  gradle/dependencies.gradle
  modules/clear-with-shortcut/build.gradle
  modules/core/build.gradle
  modules/full-screenshot/build.gradle
  modules/full-screenshot/src/test/java/integration/ScreenshotTestHelper.java
  modules/grid/build.gradle
  modules/junit4/src/test/java/integration/SoftAssertJUnit4Test.java
  modules/proxy/build.gradle
  modules/testng/build.gradle
  modules/testng/src/test/java/com/codeborne/selenide/testng/SoftAssertsTest.java
  modules/testng/src/test/java/com/codeborne/selenide/testng/TextReportTest.java
  modules/testng/src/test/java/integration/TestNgSoftTest.java
  statics/build.gradle
Labels: dependencies

#1966 #1965 restore "opentelemetry" dependency
  CHANGELOG.md
  build.gradle
  gradle/dependencies.gradle
  modules/grid/src/test/java/integration/AbstractGridTest.java
  modules/grid/src/test/java/integration/CustomWebdriverFactoryWithRemoteBrowser.java
  modules/grid/src/test/java/integration/CustomWebdriverProviderWithRemoteBrowser.java
  modules/grid/src/test/java/integration/FileUploadToGridTest.java
  modules/grid/src/test/java/integration/FullScreenshotsGridTest.java
  modules/grid/src/test/java/integration/RemoteWebDriverTest.java
  modules/grid/src/test/java/integration/SeleniumGridTest.java
  src/main/java/com/codeborne/selenide/Condition.java
  src/main/java/com/codeborne/selenide/webdriver/HttpClientTimeouts.java
  statics/src/test/java/integration/FileDownloadViaHttpGetTest.java
Labels: bug 🐛
