Repository selenide/selenide, pull requests merged in 2023-09, with the labels that each got.

#2454 Make Selenide.getFocusedElement() return SelenideElement, not WebElement
  src/main/java/com/codeborne/selenide/SelenideDriver.java
  src/main/java/com/codeborne/selenide/selector/FocusedElementLocator.java
  src/main/resources/get-focused-element.js
  statics/src/main/java/com/codeborne/selenide/Selenide.java
  statics/src/test/java/integration/SelenideMethodsTest.java
Labels: low priority, feature

#2455 #2439 do not allow creating ElementsContainer outside of page object
  src/main/java/com/codeborne/selenide/impl/SelenidePageFactory.java
  statics/src/test/java/integration/pageobjects/ElementsContainerWithManuallyInitializedFieldsTest.java
  statics/src/test/java/integration/pageobjects/LazyPageObjectTest.java
Labels: low priority, page objects

#2456 #2434 show actual texts in error message
  modules/appium/src/main/java/com/codeborne/selenide/appium/conditions/AppiumAttributeValues.java
  modules/appium/src/test/java/it/mobile/ITTest.java
  modules/appium/src/test/java/it/mobile/android/AndroidAppiumConditionsTest.java
  modules/appium/src/test/java/it/mobile/android/BaseApiDemosTest.java
  modules/appium/src/test/java/it/mobile/android/driverproviders/AndroidDriverProvider.java
  modules/appium/src/test/java/it/mobile/ios/driverproviders/IosDriverProvider.java
  src/main/java/com/codeborne/selenide/collections/Attributes.java
  src/main/java/com/codeborne/selenide/collections/ExactTexts.java
  src/main/java/com/codeborne/selenide/collections/ExactTextsCaseSensitiveInAnyOrder.java
  src/main/java/com/codeborne/selenide/collections/TextsInAnyOrder.java
  src/main/java/com/codeborne/selenide/ex/AttributesMismatch.java
  src/main/java/com/codeborne/selenide/ex/TextsMismatch.java
  src/test/java/com/codeborne/selenide/ex/TextsMismatchTest.java
  src/test/java/integration/collections/AttributesTest.java
  src/test/java/integration/collections/CollectionBecauseTest.java
  src/test/java/integration/collections/CollectionWaitTest.java
  src/test/java/integration/collections/ExactTextsCaseSensitiveInAnyOrderTest.java
  src/test/java/integration/collections/ExactTextsCaseSensitiveTest.java
  src/test/java/integration/collections/ExactTextsTest.java
  src/test/java/integration/collections/TextsInAnyOrderTest.java
  src/test/java/integration/collections/TextsTest.java
Labels: collections

#2449 Appium Scroll: added ability to set top and bottom point coordinates …
  modules/appium/src/main/java/com/codeborne/selenide/appium/AppiumScrollOptions.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumScrollTo.java
Labels: feature, appium

#2440 feat: add new selector with className and Index
  modules/appium/src/main/java/com/codeborne/selenide/appium/AppiumSelectors.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/selector/ByClassNameAndIndex.java
  modules/appium/src/test/java/com/codeborne/selenide/appium/AppiumSelectorsTest.java
  modules/appium/src/test/java/it/mobile/android/AndroidSelectorsTest.java
Labels: feature, appium

#2465 #2439 introduce interface `Container` as a replacement for abstract class `ElementsContainer`
  src/main/java/com/codeborne/selenide/Container.java
  src/main/java/com/codeborne/selenide/ElementsContainer.java
  src/main/java/com/codeborne/selenide/impl/ElementsContainerCollection.java
  src/main/java/com/codeborne/selenide/impl/PageObjectFactory.java
  src/main/java/com/codeborne/selenide/impl/SelenidePageFactory.java
  statics/src/test/java/integration/pageobjects/DynamicListOfSelenideElementsTest.java
  statics/src/test/java/integration/pageobjects/DynamicListOfWebElementsTest.java
  statics/src/test/java/integration/pageobjects/LazyPageObjectTest.java
  statics/src/test/java/integration/pageobjects/PageObjectTest.java
Labels: refactoring, page objects

#2467 Appium: added tap, doubleTap commands
  modules/appium/src/main/java/com/codeborne/selenide/appium/SelenideAppiumElement.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumDoubleTap.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumTap.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/SelenideAppiumCommands.java
  modules/appium/src/test/java/it/mobile/android/AndroidTapTest.java
  modules/appium/src/test/java/it/mobile/ios/IosTapTest.java
Labels: feature, appium

#2474 refactor: update Appium Scroll Options class and README.md
  modules/appium/README.md
  modules/appium/src/main/java/com/codeborne/selenide/appium/AppiumScrollOptions.java
  modules/appium/src/test/java/it/mobile/android/AndroidScrollTest.java
Labels: appium

#2476 #2475 remove hub url condition
  modules/selenoid/src/main/java/org/selenide/selenoid/SelenoidClient.java
  modules/selenoid/src/test/java/org/selenide/selenoid/SelenoidClientTest.java
Labels: selenoid

#2479 bump Selenium from 4.12.1 to 4.13.0
  .github/workflows/test-with-selenium-nightly-build.yml
  gradle/dependencies.gradle
Labels: dependencies

#2482 #2469 strip invisible spaces from collection texts
  src/main/java/com/codeborne/selenide/impl/WebElementCommunicator.java
  src/test/java/integration/collections/CollectionElementTextTest.java
  src/test/resources/page_with_invisible_spaces.html
  statics/src/test/java/integration/ElementTextTest.java
Labels: bug 🐛, collections
