Repository selenide/selenide, pull requests merged in 2023-11, with the labels that each got.

#2540 bump Selenium from 4.14.1 to 4.15.0
  .github/workflows/test-with-selenium-nightly-build.yml
  CHANGELOG.md
  build.gradle
  gradle/dependencies.gradle
  modules/appium/README.md
  modules/full-screenshot/src/main/java/com/codeborne/selenide/fullscreenshot/FullSizePhotographer.java
  modules/selenoid/README.md
Labels: dependencies

#2545 Fix flaky android test
  modules/appium/src/test/java/it/mobile/android/Login.java
Labels: tests, appium

#2552 fix misleading error message about disabled proxy
  src/main/java/com/codeborne/selenide/drivercommands/Navigator.java
  src/test/java/com/codeborne/selenide/drivercommands/NavigatorTest.java
Labels: documentation, proxy

#2553 #2551 Use fallback if JavascriptException occurs.
  src/main/java/com/codeborne/selenide/impl/WebElementCommunicator.java
Labels: bug 🐛

#2563 #2562 export netty-codec-http dependency at "api" level
  modules/proxy/build.gradle
Labels: bug 🐛, proxy
