Repository selenide/selenide, pull requests merged in 2023-08, with the labels that each got.

#2393 bump Selenium from 4.10.0 to 4.11.0
  gradle/dependencies.gradle
  modules/full-screenshot/src/main/java/com/codeborne/selenide/fullscreenshot/FullSizePhotographer.java
Labels: dependencies

#2381 feat: introduce long press duration
  modules/appium/README.md
  modules/appium/src/main/java/com/codeborne/selenide/appium/AppiumClickOptions.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumClick.java
  modules/appium/src/test/java/it/mobile/android/AndroidClickOptionsTest.java
Labels: feature, appium

#2369 feat: added new command to swipe right and left
  modules/appium/README.md
  modules/appium/src/main/java/com/codeborne/selenide/appium/AppiumSwipeDirection.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/AppiumSwipeOptions.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/SelenideAppiumElement.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumSwipeTo.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/SelenideAppiumCommands.java
Labels: feature, appium

#2191 Add type command
  src/main/java/com/codeborne/selenide/SelenideElement.java
  src/main/java/com/codeborne/selenide/TypeOptions.java
  src/main/java/com/codeborne/selenide/commands/Commands.java
  src/main/java/com/codeborne/selenide/commands/Type.java
  src/test/java/integration/TypeOptionsTest.java
Labels: feature

#2408 #2191 support command $.type() in mobile apps
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumType.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/SelenideAppiumCommands.java
  modules/appium/src/test/java/it/mobile/android/ContextTest.java
  modules/appium/src/test/java/it/mobile/android/Login.java
  modules/appium/src/test/java/it/mobile/android/LoginTestWithCollectionsTest.java
  src/main/java/com/codeborne/selenide/commands/Type.java
Labels: bug 🐛, appium

#2421 #2420 fix method $.type(Keys.*)
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumType.java
  src/main/java/com/codeborne/selenide/TypeOptions.java
  src/main/java/com/codeborne/selenide/commands/Type.java
Labels: bug 🐛

#2427 #2419 remove leading and trailing spaces in $$.texts()
  src/main/java/com/codeborne/selenide/impl/WebElementCommunicator.java
  src/test/java/integration/collections/CollectionMethodsTest.java
  src/test/resources/page_with_selects.html
Labels: low priority, bug 🐛, collections

#2417 fix: change the android double tap test
  modules/appium/src/test/java/it/mobile/android/AndroidClickOptionsTest.java
Labels: tests, appium

#2438 #2437 support page object fields of type SelenideAppiumElement
  modules/appium/src/main/java/com/codeborne/selenide/appium/SelenideAppiumPageFactory.java
  modules/appium/src/test/java/it/mobile/android/Login.java
  src/main/java/com/codeborne/selenide/commands/GetSelectedOption.java
  src/main/java/com/codeborne/selenide/impl/CollectionElement.java
  src/main/java/com/codeborne/selenide/impl/CollectionElementByCondition.java
  src/main/java/com/codeborne/selenide/impl/ElementFinder.java
  src/main/java/com/codeborne/selenide/impl/JSElementFinder.java
  src/main/java/com/codeborne/selenide/impl/LastCollectionElement.java
  src/main/java/com/codeborne/selenide/impl/LazyWebElementSnapshot.java
  src/main/java/com/codeborne/selenide/impl/SelenideElementProxy.java
  src/main/java/com/codeborne/selenide/impl/WebElementWrapper.java
  src/test/java/com/codeborne/selenide/impl/SelenideElementProxyTest.java
Labels: bug 🐛, page objects, appium

#2446 #2445 add method $$.getOptions()
  src/main/java/com/codeborne/selenide/SelenideElement.java
  src/main/java/com/codeborne/selenide/commands/Commands.java
  src/main/java/com/codeborne/selenide/commands/GetOptions.java
  statics/src/test/java/integration/SelectsTest.java
Labels: feature
