Repository selenide/selenide, pull requests merged in 2024-08, with the labels that each got.

#2801 #2800 Check dynamic properties in addition to attributes
  src/main/java/com/codeborne/selenide/impl/WebElementCommunicator.java
  src/test/java/integration/collections/AttributesTest.java
  src/test/resources/page_with_list_of_elements.html
Labels: bug 🐛, collections

#2802 disable Chrome popups "Save address?" and "Save card?"
  src/main/java/com/codeborne/selenide/webdriver/AbstractChromiumDriverFactory.java
  src/test/java/com/codeborne/selenide/webdriver/ChromeDriverFactoryTest.java
  src/test/java/com/codeborne/selenide/webdriver/EdgeDriverFactoryTest.java
Labels: feature

#2804 Fix ios build
  .github/workflows/test.yml
Labels: build

#2812 #2808 support List<? extends Container> in page objects for mobile apps
  modules/appium/src/test/java/it/mobile/android/LoginTestWithCollectionsTest.java
  src/main/java/com/codeborne/selenide/impl/SelenidePageFactory.java
Labels: page objects, appium

#2813 Change of <select> element must also dispatch 'input' event
  src/main/resources/select-options-by-index.js
  src/main/resources/select-options-by-partial-text.js
  src/main/resources/select-options-by-text.js
  src/main/resources/select-options-by-value.js
Labels: bug 🐛

#2825 bump Selenium from 4.23.1 to 4.24.0
  .github/workflows/test-with-selenium-nightly-build.yml
  gradle/dependencies.gradle
  modules/full-screenshot/src/main/java/com/codeborne/selenide/fullscreenshot/FullSizePhotographer.java
  src/main/java/com/codeborne/selenide/DefaultClipboard.java
  src/main/java/com/codeborne/selenide/impl/DownloadFileWithCdp.java
Labels: dependencies
