Repository selenide/selenide, pull requests merged in 2024-11, with the labels that each got.

#2879 Fix browser not created exception with AppiumPageFactory
  modules/appium/src/main/java/com/codeborne/selenide/appium/SelenideAppiumPageFactory.java
  modules/appium/src/test/java/com/codeborne/selenide/appium/SelenideAppiumPageFactoryTest.java
Labels: appium

#2842 add method $.scrollIntoCenter()
  src/main/java/com/codeborne/selenide/SelenideElement.java
  src/main/java/com/codeborne/selenide/commands/Commands.java
  src/main/java/com/codeborne/selenide/commands/ScrollIntoCenter.java
  src/test/resources/page_with_big_divs.html
  statics/src/test/java/integration/ScrollTest.java
  statics/src/test/java/integration/SelenideMethodsTest.java
Labels: feature

#2768 #2145 Add tests video recorder
  gradle/dependencies.gradle
  modules/video-recorder-core/README.md
  modules/video-recorder-core/build.gradle
  modules/video-recorder-core/src/main/java/com/selenide/videorecorder/DisableVideoRecording.java
  modules/video-recorder-core/src/main/java/com/selenide/videorecorder/RecorderFileUtils.java
  modules/video-recorder-core/src/main/java/com/selenide/videorecorder/VideoRecorderScreenShot.java
  modules/video-recorder-core/src/test/java/integration/VideoRecorderScreenShotTests.java
  modules/video-recorder-core/src/test/resources/draggable.html
  modules/video-recorder-junit/README.md
  modules/video-recorder-junit/build.gradle
  modules/video-recorder-junit/src/main/java/com/selenide/videorecorder/BrowserRecorderCallBack.java
  modules/video-recorder-junit/src/main/java/com/selenide/videorecorder/RecordVideoJunit.java
  modules/video-recorder-junit/src/test/java/integration/VideoRecorderScreenShotJunitTests.java
  modules/video-recorder-junit/src/test/resources/draggable.html
  modules/video-recorder-testng/README.md
  modules/video-recorder-testng/build.gradle
  modules/video-recorder-testng/src/main/java/com/selenide/videorecorder/BrowserRecorderListener.java
  modules/video-recorder-testng/src/test/java/integration/VideoRecorderScreenShotTestNgTests.java
  modules/video-recorder-testng/src/test/resources/draggable.html
  settings.gradle
Labels: feature

#2899 bump Gradle to 8.11.1
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies

#2901 #2896 fix method `Selenide.screeshot(filename)` to match the desription in javadoc
  src/main/java/com/codeborne/selenide/SelenideDriver.java
  statics/src/main/java/com/codeborne/selenide/Selenide.java
  statics/src/test/java/integration/ScreenshotsTest.java
Labels: low priority, bug 🐛, screenshots

#2904 bump Selenium from 4.26.0 to 4.27.0
  .github/workflows/test-with-selenium-nightly-build.yml
  CHANGELOG.md
  build.gradle
  gradle/dependencies.gradle
  modules/appium/CHANGELOG
  modules/appium/README.md
  modules/full-screenshot/src/main/java/com/codeborne/selenide/fullscreenshot/FullSizePhotographer.java
  modules/grid/README.md
  modules/selenoid/README.md
  src/main/java/com/codeborne/selenide/DefaultClipboard.java
  src/main/java/com/codeborne/selenide/impl/DownloadFileWithCdp.java
  src/test/java/integration/ITest.java
Labels: dependencies
