Repository selenide/selenide, pull requests merged in 2024-04, with the labels that each got.

#2706 #2705 add method to mock http response with specific content type
  modules/proxy/src/test/java/integration/proxy/MockResponseTest.java
  src/main/java/com/codeborne/selenide/proxy/MockResponseFilter.java
  src/test/java/integration/server/BaseHandler.java
  src/test/resources/page_with_cross-origin-request.html
  src/test/resources/page_with_json_request.html
  src/test/resources/product.json
Labels: feature, proxy

#2723 #2722 fix $.clear() in Appium
  build.gradle
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumClear.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumClick.java
  modules/appium/src/test/java/it/mobile/ios/NonInteractableElementTest.java
  src/main/java/com/codeborne/selenide/impl/WebElementSource.java
Labels: bug 🐛, appium

#2728 Fix CDP download for custom browsers
  modules/grid/src/test/java/integration/DownloadFileFromGridWithCdpTest.java
  src/main/java/com/codeborne/selenide/impl/DownloadFileWithCdp.java
Labels: downloading files
