Repository selenide/selenide, pull requests merged in 2025-03, with the labels that each got.

#2964 Extend appium interacts with apps abilities
  modules/appium/src/main/java/com/codeborne/selenide/appium/AppiumNavigator.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/SelenideAppium.java
Labels: feature, appium

#2971 #2967 improve how the Android/iOS combined attribute looks in error messages
  modules/appium/src/main/java/com/codeborne/selenide/appium/conditions/AppiumAttributeValues.java
  modules/appium/src/main/java/com/codeborne/selenide/appium/conditions/CombinedAttribute.java
  modules/appium/src/test/java/it/mobile/android/AndroidAppiumConditionsTest.java
  modules/appium/src/test/java/it/mobile/ios/IosAppiumConditionsTest.java
Labels: appium

#2979 bump Selenium from 4.29.0 to 4.30.0
  .github/workflows/test-with-selenium-nightly-build.yml
  gradle/dependencies.gradle
  modules/full-screenshot/src/main/java/com/codeborne/selenide/fullscreenshot/FullSizePhotographer.java
  src/main/java/com/codeborne/selenide/DefaultClipboard.java
  src/main/java/com/codeborne/selenide/impl/DownloadFileWithCdp.java
  src/test/java/integration/ITest.java
Labels: dependencies

#2981 add methods to remove proxy listeners
  modules/proxy/src/test/java/integration/proxy/ProxyServerUsageTest.java
  src/main/java/com/codeborne/selenide/proxy/BrowserUpProxyServerUnlimited.java
  src/main/java/com/codeborne/selenide/proxy/SelenideProxyServer.java
Labels: feature, proxy

#2968 Add possibility to work with Shadow DOM using selenide page factory
  src/main/java/com/codeborne/selenide/Container.java
  src/main/java/com/codeborne/selenide/Selectors.java
  src/main/java/com/codeborne/selenide/ShadowHost.java
  src/main/java/com/codeborne/selenide/ShadowHostBuilder.java
  src/main/java/com/codeborne/selenide/impl/SelenideAnnotations.java
  src/main/java/com/codeborne/selenide/impl/SelenidePageFactory.java
  src/main/java/com/codeborne/selenide/impl/WebElementSelector.java
  src/main/java/com/codeborne/selenide/impl/WebElementSource.java
  src/main/java/com/codeborne/selenide/selector/ByDeepShadowCss.java
  src/main/java/com/codeborne/selenide/selector/ByShadow.java
  src/main/java/com/codeborne/selenide/selector/ByShadowCss.java
  src/test/java/com/codeborne/selenide/SelectorsTest.java
  src/test/java/com/codeborne/selenide/impl/SelenideAnnotationsTest.java
  src/test/java/com/codeborne/selenide/impl/WebElementSelectorTest.java
  src/test/java/com/codeborne/selenide/selector/ByShadowTest.java
  statics/src/test/java/integration/pageobjects/PageObjectWithShadowElementsTest.java
Labels: feature, shadow-dom, page objects

#2986 Load ScreenShotLaboratory from DI
  src/main/java/com/codeborne/selenide/SelenideDriver.java
  src/main/java/com/codeborne/selenide/commands/TakeScreenshot.java
  src/main/java/com/codeborne/selenide/commands/TakeScreenshotAsImage.java
  src/main/java/com/codeborne/selenide/ex/UIAssertionError.java
  src/main/java/com/codeborne/selenide/impl/Plugins.java
  src/main/java/com/codeborne/selenide/impl/ScreenShotLaboratory.java
  src/main/resources/META-INF/defaultservices/com.codeborne.selenide.impl.ScreenShotLaboratory
  statics/src/main/java/com/codeborne/selenide/Screenshots.java
  statics/src/test/java/integration/ScreenshotsTest.java
Labels: refactoring
