Repository selenide/selenide, pull requests merged in 2025-04, with the labels that each got.

#2988 Fix ClassCastException in terminateApp method
  modules/appium/src/main/java/com/codeborne/selenide/appium/AppiumNavigator.java
Labels: bug 🐛, appium

#2993 remove annoying useless warning "No listeners found for thread '1'"
  src/main/java/com/codeborne/selenide/logevents/SelenideLogger.java
  src/main/java/com/codeborne/selenide/logevents/SimpleReport.java
Labels: low priority, bug 🐛, reports

#2994 bump Selenium from 4.30.0 to 4.31.0
  .github/workflows/test-with-selenium-nightly-build.yml
  gradle/dependencies.gradle
  modules/full-screenshot/src/main/java/com/codeborne/selenide/fullscreenshot/FullSizePhotographer.java
  src/main/java/com/codeborne/selenide/DefaultClipboard.java
  src/main/java/com/codeborne/selenide/impl/DownloadFileWithCdp.java
  src/test/java/integration/ITest.java
Labels: dependencies, java

#2998 #2992 Print file paths in a format that Jenkins and GitLab treat as attachments
  gradle/dependencies.gradle
  modules/full-screenshot/build.gradle
  src/main/java/com/codeborne/selenide/impl/AttachmentConsolePrinter.java
  src/main/java/com/codeborne/selenide/impl/ScreenShotLaboratory.java
  src/main/java/com/codeborne/selenide/impl/WebPageSourceExtractor.java
  statics/build.gradle
  statics/src/test/java/integration/ScreenshotsTest.java
Labels: feature, screenshots

#3007 check for empty expected text
  src/main/java/com/codeborne/selenide/Condition.java
  src/main/java/com/codeborne/selenide/conditions/CaseInsensitiveTextCondition.java
  src/main/java/com/codeborne/selenide/conditions/Text.java
  src/main/java/com/codeborne/selenide/impl/Html.java
  src/test/java/com/codeborne/selenide/ConditionTest.java
  src/test/resources/page_with_divs.html
  statics/src/test/java/integration/ElementTextTest.java
Labels: nice to have

#3011 #3010 respect `Configuration.textCheck` in `$$.shouldHave(texts("First", "", "Third"));`
  src/main/java/com/codeborne/selenide/collections/ExactTexts.java
  src/main/java/com/codeborne/selenide/collections/ExactTextsCaseSensitive.java
  src/main/java/com/codeborne/selenide/collections/Texts.java
  src/test/java/integration/ITest.java
  src/test/java/integration/collections/AttributesTest.java
  src/test/java/integration/collections/TextsTest.java
  src/test/resources/page_with_list_of_elements.html
Labels: bug 🐛, collections

#3015 #3014 fix `ClassCastException` in selenide-appium when calling `scroll(ScrollOptions)` on a web browser
  modules/appium/src/main/java/com/codeborne/selenide/appium/commands/AppiumScrollTo.java
  modules/appium/src/test/java/integration/web/WebTest.java
Labels: bug 🐛, appium

#3018 fix(plugins): Fix SpotBugs config after upgrade to 6.0.2
  gradle/code-analysis.gradle
Labels: build
